---
import Layout from "@layouts/Layout.astro";
import { Button } from "@registry/ui/Button/Button";
import { Alert, AlertTitle, AlertDescription } from "@registry/ui/Alert/Alert";
---

<Layout>
  <Button>Click Me</Button>
  <Alert>
    <AlertTitle>Alert Title</AlertTitle>
    <AlertDescription>This is an alert description.</AlertDescription>
  </Alert>
</Layout>
